<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Avaliação formadora</strong>
  </div>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/fotoalisson.jpeg" />
  
    <ion-card-content>
      <b>Nome:</b> Alisson Luiz Patricio Milhar
      <br><b>Código da turma:</b> ADS0301M
    </ion-card-content>
  </ion-card>
</ion-content>
